#skills {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    font-size: 60px;
    color: #0ef;
    text-align: center;
    padding-bottom: 70px;


}

.container {
    max-width: 1200px;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


.skill-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* exakt 3 kolumner */
    gap: 30px;
    margin-top: 50px;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    text-align: center;
}


.skill-list div {
    background: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 600;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 40px #0053b8f7;
}

.skill-list div:hover {
    transform: translateY(-10px);
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 40px #0053b8f7,
    0 0 20px #0ef,
    0 0 40px #0ef;
}

.skill-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.skill-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.skill-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.read:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
