
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}
html {
    scroll-behavior: smooth;
}
section{
    opacity: 0;
    transform: translateY(30px);
    transition: all 2s ease;
}
section.visible{
    opacity: 1;
    transform: translateY(0);
}

body {
    color: #ededed;
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #00eeff;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;

    background-size: cover;
    background: url(img/pawel-czerwinski-FAlYVtV1kRg-unsplash.jpg) no-repeat center;
    display: flex;
    align-items: center;
    padding: 70px 10%;
}

.home-content {
    flex: 1;
    max-widght: 600px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideButtom 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
    margin: 30px;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 60px;
    font-weight: 700;
    margin: -3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    margin: 20px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;

}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 10px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;

}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.profile-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 5px solid #0ef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.5s;
}

.about-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
    gap: 30px;
}

.about-content {
    flex: 2;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    color: antiquewhite;
    flex-wrap: wrap;
    padding: 40px;
    gap: 20px;
}

.about-content h2 {
    font-size: 60px;

}

.about-content h2 span {
    color: #0ef;
}

.about-content h4 {
    font-size: 29px;
    font-weight: 600;
    color: antiquewhite;
    line-height: 1.7;
    margin: 15px 0 30px;

}

.about-content p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 4rem;
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.about-profile-img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #0ef;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.about-profile-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 5px solid #0ef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.5s;
}

#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: #0ef;
}

.container {
    padding: 90px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 600;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 40px #0053b8f7
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.read:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.services-list div:hover {
    transform: translateY(-10px);
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 40px #0053b8f7,
    0 0 20px #0ef,
    0 0 40px #0ef;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 600px;
    max-width: 1000px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 23px;
}

.Technical-bars .bar {
    margin-top: 40px;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}
.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background: #000000;
    animation: animate 1s cubic-bezier(1,0,0,5) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1,0,0,5) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 90%;
}
.progress-line.css span {
    width: 90%;
}
.progress-line.javascript span {
    width: 90%;
}
.progress-line.c\#\.net span {
    width: 90%;
}
.progress-line.github span {
    width: 90%;
}
.progress-line.git span {
    width: 90%;
}
.progress-line.react-span {
    width: 90%;
}
.progress-line span::after{
    position: absolute;
    background: #000;
    padding: 1px 8px;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
    
}

.progress-line.html ::after {
    content: "90%";
}
.progress-line.css ::after {
    content: "90%";
}
.progress-line.javascript ::after {
    content: "90%";
}
.progress-line.c\#\.net ::after {
    content: "90%";
}
.progress-line.react ::after {
    content: "90%";
}
.progress-line.github ::after {
    content: "90%";
}
.progress-line.git ::after {
    content: "90%";
}
.progress-line span ::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-buttom-width: 0px;
    border-right-width: 0;
    border-top-color: #000;
    background: #0ef;
    border-radius: 50%;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText {
    100% {
        opacity: 1;
    }
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill:transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
    
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-path 2s ease-out forwards;

}
.path-1 {animation: animate-path1 1s 1s linear forwards;}
.path-2 {animation: animate-path2 1s 1s linear forwards;}
.path-3 {animation: animate-path3 1s 1s linear forwards;}
.path-4 {animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 75;
    }
}

.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    font-size: 20px;
    font-weight: bold;
    color: white;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left:50%;
    buttom: -5%;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.main-text{
    padding-top: 120px;
    margin-top: 200px;
}
.main-text h2{
    font-size: 60px;
    line-height:1;
    text-align:center;
    margin-bottom: 2rem;
}
.main-text h2 span{
    color: #0ef;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    diplay: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height:0;
    background: linear-gradient(rgba(0,0,0,1), #00eeff); 
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5{
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: #ff004f;
    margin-top:20px;
    font-size: 20px;
    background:#fff;
    width: 60px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr; /* två kolumner */
    gap: 3rem;
    padding: 30px;
    margin-top: 130px;
    align-items: start;
}

.contact-text h2{
    font-size:90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(228,228,228);
    font-size:20px;
    font-weight: 600;
    text-align: center;
}
.contact-text p{
    max-width: 550px;
    font-size: 18px;
    line-height:30px;
    color: rgb(228,228,228);
    margin-bottom: 2rem;
    text-align: left;
}

.contact-form{
    width: 100%;
    max-width: 600px;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
}
.contact-form input,
.contact-form textarea{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.contact-form .send{
    background-color: #0ef;
    color:#000000;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.5s;
}

.contact-form .send:hover{
    background-color: #00c9c8;
}
.contact-icon{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}
.contact-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 10px 30px 0;
}

.contact-icon a i{
    transition: transform 0.3s ease;

}

.contact-icon a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
contact-icon a:hover i{
    transform: scale(1.2);


}

.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list li {
    font-size: 18px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li:hover {
   transform: scale(1.01); translateY(-5px);
    color: #00c9c8;
}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideButtom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}